body {
    background-color: gainsboro;
}

/* header */
header {
    background-color: whitesmoke;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure {
    display: inline-block;
    padding: 0 0 0 24px;
    margin: auto 0;
}

header figure img {
    height: 45px;
    position: relative;
    top: 5px;
}

header .Logo {
    font-size: 28px;
    position: relative;
    top: -10px;
}

header .Logo.Colar {
    color: black;
}

header .Logo.Academy {
    color: grey;
}

header nav {
    padding-right: 24px;
    display: inline-block;
}

header nav a {
    padding-left: 16px;
    font-size: 20px;
    font-family: sans-serif;
}

/* --- MAIN --- */ 
/* "landing" */
container.landing {
    display: flex;
    align-items: center;
    justify-content: center;
}

container.landing section.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

container.landing .left {
    max-width: 60%;
    height: auto;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
}

container.landing .left img {
    width: 100%;
    height: auto;
}

container.landing .right {
    max-width: 40%;
}

container.landing .right h1 {
    font-size: 48px;
    margin: 0px 12px;
    padding-bottom: 12px;
}

container.landing .right h3 {
    font-size: 32px;
    margin: 0px 12px;
    padding-bottom: 12px;
}


/* "information" */
container.information {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

container.information section.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

container.information .left {
    max-width: 55%;
    height: auto;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

container.information .left img {
    width: 100%;
    height: auto;
}

container.information .right {
    max-width: 40%;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

container.information .right div {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;  
}

container.information .right picture {
   display: flex;
   min-width: 35%;
    overflow: hidden;
   padding: 0;
   margin: 10px 8px;
}

container.information .right img {
    width: 100%;
    height: auto;
}

container.information .right span {
    max-width: 65%;
    padding: 0;
    margin: 10px 8px;
}

container.information .right h3, container.information .right p {
    max-width: 100%;
    padding: 0;
}
