body {
    background-color: gainsboro;
}

/* header */
header {
    background-color: whitesmoke;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure {
    display: inline-block;
    padding: 0 0 0 24px;
    margin: auto 0;
}

header figure img {
    height: 45px;
    position: relative;
    top: 5px;
}

header .Logo {
    font-size: 28px;
    position: relative;
    top: -10px;
}

header .Logo.Colar {
    color: black;
}

header .Logo.Academy {
    color: grey;
}

header nav {
    padding-right: 24px;
    display: inline-block;
}

header nav a {
    padding-left: 16px;
    font-size: 20px;
    font-family: sans-serif;
}

/* --- MAIN --- */ 
/* "landing" */
section.landing {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.landing container.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

section.landing .left {
    max-width: 60%;
    height: auto;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
}

section.landing .left img {
    width: 100%;
    height: auto;
}

section.landing .right {
    max-width: 40%;
}

section.landing .right h1 {
    font-size: 48px;
    margin: 0px 12px;
    padding-bottom: 12px;
}

section.landing .right h3 {
    font-size: 32px;
    margin: 0px 12px;
    padding-bottom: 12px;
}


/* "information" */
section.information {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

section.information container.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

section.information .left {
    max-width: 60%;
    height: auto;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

section.information .left img {
    width: 100%;
    height: auto;
}

section.information .right {
    max-width: 40%;
    padding: 0;
    margin: 32px 24px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

section.information .right div {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;  
}

section.information .right picture {
   display: flex;
   max-width: 35%;
   overflow: hidden;
}

section.information .right img {
    width: 100%;
    height: auto;
}
