body {
    background-color: gainsboro;
}

/* header */
header {
    background-color: whitesmoke;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure {
    display: inline-block;
    padding: 0 0 0 24px;
    margin: auto 0;
}

header figure img {
    height: 45px;
    position: relative;
    top: 5px;
}

header .Logo {
    font-size: 28px;
    position: relative;
    top: -10px;
}

header .Logo.Colar {
    color: black;
}

header .Logo.Academy {
    color: grey;
}

header nav {
    padding-right: 24px;
    display: inline-block;
}

header nav a {
    padding-left: 16px;
    font-size: 20px;
    font-family: sans-serif;
}

/* --- MAIN --- */ 
/* "landing" */


/* "information" */
.information {
    background-color: whitesmoke;
}

